<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="<%= options['app-version'] %>" 
        id="<%= app_id %>" 
        xml:lang="<%= options['app-lang'] %>">
    
    <author href="<%= options['author-href'] %>"
            rim:copyright="<%= options['author-copyright'] %>"><%= options['author-name'] %></author>

    <name><%= options['app-name'] %></name>

    <description>
        <%= options['app-description'] %>
    </description>

    <content src="<%= options['app-index'] %>" />

    <icon src="<%= options['app-icon'] %>" />

    <% if (options['access-uri']) { %>
    <access uri="*" subdomains="true" />
    <% } %>

    <feature id="blackberry.system.event" />
    <feature id="blackberry.app" />
    <feature id="blackberry.app.event" />
    <%= feature_hook %>

</widget>